a {
  color: white;
  text-decoration: none; /* no underline */
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 56px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 0;
}

#sub-heading {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  font-family: cursive;
  margin-top: 0;
  margin-bottom: 50px;
}

.box {
  max-width: 800px;
  font-size: 20px;
  padding: 50px;
  background-color: #00000022;
  border-radius: 5px;
  text-align: center;
}

.box h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn.icon {
  width: 69px;
  height: 69px;
}

.icon img {
  width: 56px;
  height: 69px;
}

.btn {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 65px;
  margin: 0 0 2em;
  max-width: 300px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn span {
  z-index: 120;
}
.btn:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 90;
}
.btn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

#addToGoogleDoc {
  margin: 0;
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
}

.loader,
.loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  position: inherit;
  overflow: visible;
  padding-top: 3em;
  height: 0;
  width: 3em;
}

.loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid #fff;
  border-radius: 50%;
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__label {
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  margin: 0.5em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #e2e2e2;
  white-space: nowrap;
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

#docLoader {
  transform: translate(0%, 0%);
}

#summaryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #fff;
  }
  29% {
    background-color: #fff;
  }
  30% {
    height: 3em;
    width: 3em;
    background-color: transparent;
    border-width: 1.5em;
    opacity: 1;
  }
  100% {
    height: 3em;
    width: 3em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

#channelSelector {
  display: grid;
  place-content: center;
  max-height: 400px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

#applySelectedChannels {
  margin-top: 2em;
  margin-bottom: 0;
}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control + .form-control {
  margin-top: 1em;
}

.form-control--disabled {
  color: #878787;
  cursor: not-allowed;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #fff;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: #878787;

  color: #878787;
  cursor: not-allowed;
}

#error-box {
  z-index: 200;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  max-width: 600px;
align-items: center;  
}
#error-box .close-button {
  float: right;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

#error-box .error-message {
  padding: 10px;
}
